body {
    font-family: Arial;
    background: #f5f5f5;
    margin: 0;
}
.container {
    width: 400px;
    margin: 70px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px gray;
}
input, select {
    width: 100%;
    padding: 10px;
    margin: 7px 0;
}
button {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
}
button:hover {
    background: #0056b3;
}
.table-container {
    width: 90%;
    margin: 40px auto;
}
table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}
th, td {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}
